In [1]:
import pandas as pd

In [10]:
phenotypes = pd.read_csv('/home/claudio/Comp_Genetics/result_true/bugwas_phenotypes.tsv', sep ='\t')
genotypes = pd.read_csv('/home/claudio/Comp_Genetics/result_true/bugwas_genotypes.tsv', sep='\t')
frequencies = pd.read_csv('/home/claudio/Comp_Genetics/result_true/duplicate_samples.tsv', sep='\t', header=None)
orphans = pd.read_csv('/home/claudio/Comp_Genetics/result_true/nomatchingsamples.tsv', sep='\t', header=None)

Create a list of the top 200 most repeated no orphan samples, to create a subset

In [11]:
## The samples in frequencies correspond to the non duplicated samples from the phenotypes

orphans_list = list(orphans.iloc[:,0])
orphans_list_unique = list(dict.fromkeys(orphans_list))
frequencies_1 = list(frequencies.sort_values(by=[1], ascending=False).iloc[:,0])
matching_list = [sample for sample in frequencies_1 if sample not in orphans_list_unique]
matching_list.insert(0, 'ps')

Subset the genotypes dataframes

In [12]:
subset_genotypes = genotypes[matching_list]
# in case it needs to be ordered subset_genotypes = subset_genotypes.reindex(sorted(subset_genotypes.columns[1:]), axis=1)
subset_genotypes.to_csv('/home/claudio/Comp_Genetics/result_true/bugwas_genotypes_1.tsv', sep = '\t', index = False)

In [15]:
unique_phenotypes = phenotypes.drop_duplicates(subset=['ID'])
subset_phenotypes = unique_phenotypes.loc[unique_phenotypes['ID'].isin(matching_list)]
subset_phenotypes.to_csv('/home/claudio/Comp_Genetics/result_true/bugwas_phenotypes_1.tsv', sep = '\t', index = False)

In [19]:
phenotypes

          ID                     pheno
0    NT12001    A22.0P5_0.973035122476
1    NT12002     A22.0P5_0.99304433225
2    NT12003  A22.0P5_-0.0434960013433
3    NT12004    A22.0P5_0.539469215047
4    NT12005    A22.0P5_0.256920860493
..       ...                       ...
673  NT12879    A22.0P5_0.450689937731
674  NT12880   A22.0P5_-0.750376099385
675  NT12883    A22.0P5_-4.91958230803
676  NT12885   A22.0P5_-0.255816067252
677  NT12660   A22.1UM_0.0956062466071

[678 rows x 2 columns]

In [18]:
subset_phenotypes

          ID                     pheno
0    NT12001    A22.0P5_0.973035122476
1    NT12002     A22.0P5_0.99304433225
2    NT12003  A22.0P5_-0.0434960013433
3    NT12004    A22.0P5_0.539469215047
4    NT12005    A22.0P5_0.256920860493
..       ...                       ...
673  NT12879    A22.0P5_0.450689937731
674  NT12880   A22.0P5_-0.750376099385
675  NT12883    A22.0P5_-4.91958230803
676  NT12885   A22.0P5_-0.255816067252
677  NT12660   A22.1UM_0.0956062466071

[678 rows x 2 columns]