In [ ]:
import pandas as pd

In [ ]:
phenotypes = pd.read_csv('/Users/claudionovellarausell/Desktop/Comp_Genetics/results/bugwas_phenotypes_unique.tsv', sep ='\t')
genotypes = pd.read_csv('/Users/claudionovellarausell/Desktop/Comp_Genetics/results/bugwas_genotypes.tsv', sep='\t')
frequencies = pd.read_csv('/Users/claudionovellarausell/Desktop/Comp_Genetics/results/duplicate_samples.tsv', sep='\t', header=None)
orphans = pd.read_csv('/Users/claudionovellarausell/Desktop/Comp_Genetics/results/nomatchingsamples.tsv', sep='\t')

Create a list of the top 200 most repeated no orphan samples, to create a subset

In [137]:
orphans_list = list(orphans.iloc[:,0])
orphans_list_unique = list(dict.fromkeys(orphans_list))
top200_list_orphans = list(frequencies.sort_values(by=[1], ascending=False).iloc[:299,0])
top200_list = [sample for sample in top200_list_orphans if sample not in orphans_list_noduplicates]

Subset the dataframes

In [139]:
genotypes[top200_list]

,NT12212,NT12412,NT12413,NT12414,NT12418,NT12421,NT12422,NT12423,NT12424,NT12425,...,NT12195,NT12166,NT12193,NT12192,NT12191,NT12151,NT12167,NT12179,NT12178,NT12177
0,T,T,C,T,T,C,T,C,T,T,...,T,T,T,T,T,T,T,T,T,T
1,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
2,T,T,T,T,T,T,T,T,T,C,...,T,T,T,T,T,T,T,T,T,T
3,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237994,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237995,C,C,C,C,C,C,C,C,C,A,...,C,C,C,C,C,C,C,C,C,C
237996,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
237997,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237998,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G