In [ ]:
import pandas as pd

In [127]:
genotypes_invariants = pd.read_csv('/Users/claudionovellarausell/Desktop/Comp_Genetics/results/Unique_top200_genotypes.tsv', sep = '\t')

,ps,NT12212,NT12412,NT12413,NT12414,NT12418,NT12421,NT12422,NT12423,NT12424,...,NT12195,NT12166,NT12193,NT12192,NT12191,NT12151,NT12167,NT12179,NT12178,NT12177
0,64,T,T,C,T,T,C,T,C,T,...,T,T,T,T,T,T,T,T,T,T
1,95,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
2,96,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
3,171,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,280,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237994,1902815,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237995,1902818,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237996,1902875,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
237997,1902911,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237998,1902923,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G

In [141]:
invariant_sites = []
for i, k in genotypes_invariants.iterrows():
    if len(set(k[1:]))== 1:
        invariant_sites.append(False)
    else:
        invariant_sites.append(True)

In [139]:
genotypes_invariants

,ps,NT12212,NT12412,NT12413,NT12414,NT12418,NT12421,NT12422,NT12423,NT12424,...,NT12195,NT12166,NT12193,NT12192,NT12191,NT12151,NT12167,NT12179,NT12178,NT12177
0,64,T,T,C,T,T,C,T,C,T,...,T,T,T,T,T,T,T,T,T,T
1,95,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
2,96,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
3,171,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
4,280,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237994,1902815,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237995,1902818,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237996,1902875,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
237997,1902911,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
237998,1902923,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G

In [146]:
genotypes_onlyvariants = genotypes_invariants[invariant_sites]
genotypes_onlyvariants.to_csv('/Users/claudionovellarausell/Desktop/Comp_Genetics/results/Unique_onlyvariants_top200_genotypes.tsv', sep = '\t', index = False)

In [119]:
null_columns=genotypes_invariants.columns[genotypes_invariants.isnull().any()]
genotypes_invariants[null_columns].isnull().sum()

Series([], dtype: float64)

In [120]:
genotypes_invariants.isnull().sum().sum()

0

In [ ]:
def remove_invariants(site):
    bools = []
    if len(set(site)) == 1:
        return bools.append(True)
    else:
        return bools.append(False)

In [ ]:
from pandas import DataFrame
import numpy as np


samples = { 'sample 1': ['A', 'B', 'A', 'B', 'A'],
             'sample 2': ['C', 'A', 'C', 'B', 'A'],
             'sample 3': ['A', 'A', 'C', 'B', 'A'],
             'sample 4': ['A', 'A', 'C', 'C', 'A']
}
df = DataFrame(samples,columns= ['sample 1', 'sample 2', 'sample 3', 'sample 4'])
print(any(df.isnull()))
dummy = []
for i, k in df.iterrows():
    if len(set(k))== 1:
        print(set(k))
        dummy.append(True)
    else:
        print(set(k))
        dummy.append(False)
dummy

In [121]:
my_list = []
for i, k in genotypes_invariants.iterrows():
    if len(set(k[1:]))== 1:
        my_list.append(True)
    else:
        my_list.append(False)

In [122]:
my_list.count(True)

52323

In [ ]:
import collections
import matplotlib.pyplot as plt

genotypes_invariants_nops = genotypes_invariants.drop(genotypes_invariants.columns[0], axis = 1)
genotypes_invariants_nops.apply(pd.Series.value_counts).sum().sum()

In [ ]:
genotypes_melted = genotypes_invariants_nops.melt().reset_index()

In [ ]:
genotypes_melted

In [ ]:
import collections
import matplotlib.pyplot as plt

frequencies = [(item,count) for item, count in collections.Counter(genotypes_melted['variable']).items()]

In [ ]:
frequencies